# Created by Vercel CLI
OPENROUTER_KEY="sk-xx-xx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SUPABASE_ANON_KEY="sb_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxxxxx.supabase.co"
TAVILY_API_KEY="tvly-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
VERCEL_OIDC_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxx.xxxxx-xxxxxxxxxx-xx-xx"
VITE_SUPABASE_ANON_KEY="sb_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
VITE_SUPABASE_URL="https://xxxxxxxxxxxxxxxxxxx.supabase.co"
