@import "tailwindcss";

@font-face {
  font-family: 'Copernicus';
  src: url('./fonts/CopernicusTrial-Book.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Copernicus", Georgia, serif;
  --font-sans: "Inter", sans-serif;
  
  /* CLAUDE LIGHT MODE */
  --color-app: #faf9f5;          
  
  /* The Global "Card" (formerly sidebar/chips/menus) */
  --color-card: #f9f8f4;  
  --color-card-hover: #f0eee6;     
  --color-card-text: #3D3D3A;      
  --color-card-text-hover: #141413; 
  
  /* The Input Box */
  --color-inputcard: #ffffff;         
  
  --color-primary: #2d2b29;       
  --color-secondary: #7e7a75;    
  --color-placeholder: #73726c;   

  --color-border-main: #e5e3de;   
  --color-border-hover: #cbc9c4;  
  --color-accent: #d97757;        
}

.dark {
  /* CLAUDE DARK MODE */
  --color-app: #262624;         
  
  /* The Global "Card" */
  --color-card: #252523;    
  --color-card-hover: #141413;
  --color-card-text: #c2c0b6;
  --color-card-text-hover: #faf9f5; 
  
  /* The Input Box */
  --color-inputcard: #30302e;        
  
  --color-primary: #e6e4df;     
  --color-secondary: #908d85;   
  --color-placeholder: #9C9A92;

  --color-border-main: #373733; 
  --color-border-hover: #555450;
  --color-accent: #d97757;      
}

body {
  background-color: var(--color-app);
  color: var(--color-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}